.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    animation: fadeIn 0.3s forwards;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    height: fit-content;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    margin: 0.5rem;
    animation: scaleUp 0.3s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes scaleUp {
    from {
      transform: scale(0.7);
    }
    to {
      transform: scale(1);
    }
  }

  .modal .section_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .modal .section_header .title{
    font-size: var(--font-twentyFour);
    font-weight: 600;
    color: var(--black);
    margin-bottom: 1rem;
  }

  .modal .section_header .subtitle{
    background-color: #82d1ff;
    border-radius: 4px;
    padding: 2px 10px;
    max-width: 200px;
    text-align: center;
  }

  .modal .section_header .subtitle span {
    color: #13035f;
    font-weight: 500;
    font-size: var(--font-fourteen);
    text-align: center;
    text-transform: capitalize;
  }
  
  /* .modal_text {
    font-size: var(--font-eighteen);
    line-height: 1.2rem;
    margin: 1rem 0;
  }
  
  .modal_small {
    font-size: var(--font-twelve);
    line-height: 1.2rem;
    margin: 1rem 0;
  } */

  .modal .bondSection_body{
    display: block;
  }

  .modal .bondSection_body .more_dets {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
  
  .modal .bondSection_body .more_dets .maturity_row .bold_text {
    font-size: var(--font-sixteen);
    font-weight: 500;
    color: var(--black);
    padding: 1rem 0 0;
}

.modal .bondSection_body .more_dets .maturity_row .reg_text {
    font-size: var(--font-fourteen);
    color: var(--black);
  }
  
  .modal .input_group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: .5rem;
    margin-bottom: .5rem;
    gap: .35rem;
  }
  
  .bondSection_body .input_group label{
    color: var(--black);
    font-size: var(--font-sixteen);
    font-weight: 500;
    margin-top: .5rem;
  }

  .bondSection_body input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .modal input ::placeholder{
    color: var(--grey);
  }
  
  .buttons_wrap {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .modal button {
    max-width: 200px;
    color: var(--white);
    font-size: var(--font-eighteen);
    font-weight: 400;
    width: 49%;
    height: 3rem;
    font-weight: 400;
    padding: 0.75rem;
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .buttons_wrap .submit_btn {
    background-color: var(--green);
  }
  
  .buttons_wrap .cancel_btn {
    background-color: var(--red);
  }
  
  @media screen and (max-width: 415px) {
    .modal {
      height: fit-content;
      padding: 20px 16px;
    }
  
    .buttons_wrap {
      gap: 0.5rem;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .modal button {
      margin-top: 0;
      width: 100%;
      height: 2.5rem;
      font-size: var(--font-sixteen);
    }
  }
  