.bondsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 2rem 1rem;
}

.bondsPage .sectionHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bondsPage .sectionHeader h2 {
  font-size: var(--font-twentyFour);
  font-weight: 500;
  color: var(--black);
}

.bondsPage .sectionBody {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.bondsPage .sectionBody h5 {
  text-align: center;
}

.portfolioCard {
  flex: 0 0 auto;
  width: 48%;
  margin-bottom: 2rem;
}

.portfolio {
  border-radius: 8px;
  z-index: 10;
  background-color: #fff;
  position: relative;
  border: 1px solid #cecece;
}

.portfolioCol {
  cursor: pointer;
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.colDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.issuerDets {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.issuerDets .name {
  font-weight: 600;
  padding: 1rem 0 .5rem;
  font-size: var(--font-sixteen);
}

.type {
  background-color: #82d1ff;
  border-radius: 4px;
  padding: 2px 10px;
  width: fit-content;
  text-align: center;
}

.type span {
  color: #13035f;
  font-weight: 600;
  font-size: var(--font-fourteen);
  text-align: center;
  text-transform: capitalize;
}

.moreDets {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

.moreDets .maturityRow .boldText {
  font-size: var(--font-sixteen);
  font-weight: 600;
  padding: 1rem 0 0.5rem;
  color: var(--black);
}

.moreDets .maturityRow .regText {
  color: var(--black);
  font-size: var(--font-sixteen);
}

.portfolioCol .portfolioImg {
  width: 121px;
  height: 121px;
  border-radius: 8px;
  z-index: 10;
  background-color: var(--white);
  position: relative;
  border: 1px solid #cecece;
  padding: 0.5rem;
}

.portfolioImg img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.couponDets {
  background-color: #000;
  border-radius: 8px;
  color: #fff;
  white-space: nowrap;
  line-height: 1.2;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.couponWrap {
  display: grid;
  place-items: center;
}

.couponWrap .couponPercent {
  display: inline;
}

.couponWrap .couponPercent .number {
  font-weight: 600;
  font-size: var(--font-fourty);
}

.couponWrap .couponPercent .percent {
  font-weight: 600;
  font-size: var(--font-eighteen);
}

.bondsDropdown {
  background-color: azure;
  border-radius: 0px 0px 8px 8px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: -2rem;
  color: #fff;
  font-size: 14px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.bondsDropdown.show {
  margin-bottom: 2rem;
  padding-top: 2.5rem;
  max-height: 500px;
  transition: max-height 0.5s ease-in;
}

.dropdownCol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 3.5rem;
}

.dropdownRow {
  width: 100%;
  margin-bottom: 1rem;
}

.dropdownRow .boldText {
  font-size: var(--font-fourteen);
  font-weight: 500;
  color: var(--black);
}

.dropdownRow .regText {
  font-size: var(--font-fourteen);
  font-weight: 400;
  color: var(--black);
}

.dropdownBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.dropdownBtn button {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
  width: 200px;
  padding: 10px 0rem;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .portfolioCard {
    width: 700px;
  }
}

@media screen and (max-width: 451px) {
  .bondsPage .sectionBody {
    flex-direction: column;
  }
  .portfolioCard {
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .portfolioCard {
    width: 100%;
  }
}
