.changeLogo_section{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.changeLogo_section .section_header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2rem;
}

.title{
    font-size: var(--font-thirtyTwo);
    font-weight: 500;
    color: var(--black);
}

.changeLogo_section .changeLogo_form{
    display: grid;
    max-width: 500px;
    width: 100%;
}

.logo_label{
    border-left: solid 3px var(--secondary);
    font-size: 14px;
    color: #72777a;
    font-size: var(--font-sixteen);
    padding-left: .35rem;
}

.form_group{
    display: flex;
    align-items: center;
    justify-content: center;
}

.changeLogo_form_group{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.changeLogo_form_group .label{
 font-size: var(--font-sixteen);
 margin: 0;
}

.input_group .input_field{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input_group .input_field:focus{
    outline: none;
    border: 1px solid var(--secondary);
}

.changeLogo_logo{
    width: 100px;
    height: 100px;
    margin: .5rem 0;
    border: 1px solid aliceblue;
}

.changeLogo_form img{
    width: 100%;
}

.submit_btn{
    background-color: var(--secondary);
  color: var(--white);
  font-size: var(--font-twenty);
  font-weight: 400;
  width: 100%;
  height: 3rem;
  font-weight: 400;
  padding: 0.75rem;
  border: none;
  border-radius: 10px;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 500px) {
    .changeLogo_section{
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .changeLogo_section{
        padding: 0.65rem 2rem;
    }
    
}