.notification_page {
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .notifications_container {
    display: flex;
    flex-direction: column;
  }
  
  .notification_wrap {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .notification_wrap:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .notification_wrap .notification{
    font-size: var(--font-sixteen);
    font-weight: 400;
  }

  .notification_wrap .delete_btn{
    cursor: pointer;
    color: #ff0000;
    font-size: var(--font-twentyFour);
  }

  .notifications_container small{
    font-weight: 500;
    font-size: var(--font-twentyFour);
    text-align: center;
  }
  
  .notification.success {
    background-color: #e6ffed;
    border: 1px solid #a3f7b5;
    color: #007700;
  }
  
  .notification.error {
    background-color: #ffe6e6;
    border: 1px solid #f7a3a3;
    color: #770000;
  }
  