.userOverview_container .user_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 1rem; */
  margin: 0;
  gap: 0.5rem;
}

.overview_table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
}

.overview_table td,
.overview_table th {
  border: 1px solid #cccccc80;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

/* Style the buttons */
.overview_table button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100%;
}

/* Use a grid layout for the buttons */
.overview_table td > div.button_grid {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-items: center;
  align-items: center;
}

.button_grid img {
  width: 1.2rem;
  height: 1rem;
}

/* Different colors for buttons */
.buy_button {
  background-color: transparent;
  color: #256528;
}

.sell_button {
  background-color: transparent;
  color: #c12c21;
  border: 1px solid var(--seoverviewary);
}

.details_button {
  color: #008cba;
  background-color: transparent;
}

tr .no_holding {
  font-weight: 500;
  text-align: center;
  color: var(--white);
  padding: 1rem;
}

td .holding_dropdown {
  border-radius: 0px 0px 8px 8px;
  color: var(--white);
  font-size: 14px;
  background-color: transparent;
  max-height: 500px;
  margin: 0;
  transition: max-height 0.5s ease-in-out;
}

td .holding_dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

td .holding_dropdown .dropdown_row {
  display: flex;
  gap: 0.35rem;
  align-items: center;
  margin-bottom: 0.75rem;
  width: 100%;
}

.userOverview_container .text_wrap{
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.userOverview_container .bold_text {
  font-size: var(--font-fourteen);
  font-weight: 500;
  color: var(--white);
}

.userOverview_container .reg_text {
  font-size: var(--font-fourteen);
  font-weight: 400;
  color: var(--white);
}

.userOverview_container td,
.userOverview_container th,
.userOverview_container p,
.userOverview_container span {
  color: var(--white);
}

.userOverview_container .dropdown_btn {
  display: flex;
  justify-content: flex-end;
}

.userOverview_container .dropdown_btn button {
  background-color: var(--white);
  border: none;
  color: var(--black);
  font-size: var(--font-fourteen);
  font-weight: 500;
  cursor: pointer;
}