/* styles.css */
.sidebar {
  width: 275px;
  min-height: 100vh;
  height: 100%;
  background-color: var(--primary);
  position: fixed;
  color: var(--white);
  display: flex;
  flex-direction: column;
  z-index: 11;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 50px;
}

.menu_button {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: auto;
  margin-right: 0;
}

.sidebar .menu_items {
  display: flex;
  flex-direction: column;
  gap: 3px;
  list-style-type: none;
  /* margin-top: 1rem; */
  padding: 1rem;
}

.sidebar .menu_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
  font-size: var(--font-fourteen);
  padding: 10px;
  gap: 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.sidebar .menu_link.active {
  color: var(--secondary);
  font-size: 20px;
}

.sidebar .menu_link:hover {
  background-color: var(--secondary);
}

.main-content {
  margin-left: 250px;
  padding: 10px;
}

 .collapsed .menu_items{
  gap: 1.5rem;
}
 .collapsed .menu_link{
  padding: 0;
}

.collapsed .menu_link:hover{
  color: var(--secondary);
  background-color: transparent;
}

@media screen and (max-width: 768px) {
}


.notification_badge{
  display: flex;
  align-items: flex-start;
}

.notification_badge .notification_count{
  font-size: var(--font-twelve);
  font-weight: 700;
  color: var(--red);
  line-height: 0;
  margin-left: 1px;
}