@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");

/*------------ [_Root] -----------*/
:root {
  /* Colors */
  --primary: #041b3c;
  --secondary: #688fb7;
  --tertiary: #0366ee;
  --white: #ecf0f1;
  --text: #555555;
  --black: #333333;
  --grey: #a2a2a2;
  --green: #3d8d00;
  --red: #ff0000;

  /* FontStyle*/
  --font: "Poppins", "sans-serif";

  /* Font Sizes */
  --font-seventy: 2.875rem;
  --font-fifty: 2rem;
  --font-thirtyTwo: 1.5rem;
  --font-twentyEight: 1.5rem;
  --font-twentyFour: 1.2rem;
  --font-twenty: 1.15rem;
  --font-eighteen: 1rem;
  --font-sixteen: 0.9rem;
  --font-fourteen: 0.88rem;
  --font-twelve: 0.75rem;
}

@media screen and (min-width: 900px) {
  :root {
    --font-seventy: 4.375rem;
    --font-fifty: 3.125rem;
    --font-thirtyTwo: 2rem;
    --font-twentyEight: 1.75rem;
    --font-twentyFour: 1.5rem;
    --font-twenty: 1.25rem;
    --font-eighteen: 1.125rem;
    --font-sixteen: 1rem;
    --font-fourteen: 0.88rem;
    --font-twelve: 0.75rem;
  }
}

/*========================================*/
/*------------ [_Reset_Styles] -----------*/
/*========================================*/
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/*========================================*/
/*--------------- [_Utility] -------------*/
/*========================================*/
body {
  max-width: 100vw;
  max-height: 100vh;
  /* background: var(--white-color) url(../src/assets/Lines.svg); */
  font-family: var(--font);
  color: var(--text);
  letter-spacing: -0.5px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  font-family: var(--font);
}

p {
  font-size: var(--font-fourteen);
  line-height: 1.5rem;
  color: var(--text);
}

h1 {
  font-size: var(--font-thirtyTwo);
  font-style: normal;
  font-weight: 600;
  line-height: 78px;
  text-transform: capitalize;
  color: var(--black);
}

h2 {
  font-size: var(--font-twentyEight);
  line-height: 2rem;
  font-weight: 700;
}

h3 {
  font-size: var(--font-twentyFour);
  line-height: 2rem;
  font-weight: 600;
}

h4 {
  font-size: var(--font-twenty);
  line-height: 1.5rem;
  font-weight: 600;
}

h5 {
  font-size: var(--font-eighteen);
  font-weight: 600;
  line-height: 1.5rem;
}

h6 {
  font-size: var(--font-sixteen);
  line-height: 1.2rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--font);
}

ul {
  list-style: none;
}

img {
  border: none;
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

/*--------------- [Body Wrapper] -------------*/
.mainWrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: calc(100% - 50px);
  /* max-width: 1200px; */
  margin-left: auto;
  margin-right: auto;
  margin-right: 0;
  margin-left: auto;
  padding: 0;
}

.content_area {
  position: relative;
  z-index: 0;
  height: 100vh;
  overflow: scroll;
}

.section_header {
}

.header_title {
  background: var(--primary);
  padding: 0 1rem;
  text-align: center;
  color: var(--white);
}

.section_title {
  text-align: center;
  color: var(--primary);
}

.error_msg {
  width: 100%;
  font-size: var(--font-twelve);
  color: #c76262;
  font-weight: 500;
  background-color: rgba(250 128 75 / 33%);
  border: 1px solid var(--red);
  border-radius: 8px;
  padding: 0.15rem 1rem;
  text-align: center;
  line-height: 1.2;
}

.success_msg {
  width: 100%;
  font-size: var(--font-twelve);
  color: #327200;
  font-weight: 500;
  background-color: rgba(61 141 0 / 33%);
  border: 1px solid var(--green);
  border-radius: 8px;
  padding: 0.15rem 1rem;
  text-align: center;
  line-height: 1.2;
}

.accept_btn {
  background-color: var(--green) !important;
  color: var(--white) !important;
  border: 1px solid var(--green) !important;
}

.accept_btn:hover {
  background-color: #2e6a00 !important;
  color: var(--white) !important;
}

.btn_wrap {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
  margin-right: 1em;
}

.btn_wrap button {
  border: 1px solid #cdcdcd;
  background: transparent;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.reject_btn {
  background-color: var(--red);
  color: var(--white);
  border: 1px solid var(--red) !important;
}

.reject_btn:hover {
  background-color: #b30000;
  color: var(--white);
}

.spinner {
  width: 25px;
  height: 25px;
  box-sizing: border-box;
  border: 3px solid var(--primary);
  border-radius: 50%;
  animation: spinner-rotate 1s infinite linear;
  border-top-color: var(--white);
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Header wrapper */

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  width: 95%;
}

/* Add button */
.addRow_btn button {
  margin: 0;
  height: 3rem;
}

/* Search bar */
.header__left {
  width: 50%;
}

/* NO DATA FOUND? */
.no_data{
  text-align: center;
  margin: 0 auto;
}

.search__field {
  display: flex;
  align-items: center;
  border: 1px solid #e0e6f7;
  border-radius: 10px;
  /* padding: 0.5rem; */
  width: 60%;
  height: 3rem;
  font-weight: 500;
  color: var(--black);
  background-color: rgb(238 242 255);
}

@media screen and (max-width: 768px) {
  .search__field{
    width: 95%;
  }
  .header__wrap{
    flex-wrap: wrap;
  }
}

.search__field input {
  border: none;
  width: 90%;
  height: 100%;
  margin: 0;
}

.search__field button {
  width: 10%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 0 10px 10px 0;
}

.search__field input ::placeholder {
  color: var(--grey);
}

/* Filter button */

.filter .filter__button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e6f7;
  border-radius: 10px;
  padding: 0.5rem .75rem;
  width: 7.5rem;
  height: 2.5rem;
  font-weight: 500;
  color: var(--black);
  background:  rgb(238 242 255);
  /* background-color: ; */
  cursor: pointer;
}

.filter .filter__button:hover {
  background-color: #e0e6f7;
}


/* Sort button*/
.header__right {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.sort{
  position: relative;
}

.sort .sort__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e6f7;
  border-radius: 10px;
  padding: 0.5rem;
  width: 7.5rem;
  height: 2.5rem;
  font-weight: 500;
  color: var(--black);
  background-color: rgb(238 242 255);
  cursor: pointer;
  
}
.sort .sort__button:hover {
  background-color: #e0e6f7;
}

.sort__group {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 3rem;
  right: 0;

  height: fit-content;
  transition: opacity 0.3s ease-in-out;
}

.show__sort {
  position: absolute;
  opacity: 1;
  visibility: visible;
  top: 3rem;
  z-index: 9;
  /* right: 1rem; */
  transition: opacity 0.3s ease-in-out;

  background-color: #fafafa;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  height: fit-content;
  width: 150px;
  padding: 1rem;
  border-radius: 10px;

  display: flex;
  gap: 2rem;
}

.sort__item {
  width: max-content;
}

.sort__item label {
  font-size: var(--font-fourteen);
  font-weight: 600;
  margin: 0rem;
}

.items {
  display: flex;
  flex-direction: column;
}
.items .check__item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.items .check__item p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* User Overview page */
.userOverview_container{
 margin: 1rem;
}

.user_details{
  padding: 1rem;
  border-radius: 8px;
  background-color: #688fb7;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 1rem;
  /* height: 500px; */
}

.user_details h2, .user_details h3{
  color: var(--white);
}

.portfolio_dropdown {
  background-color: #688fb7;
  border-radius: 8px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  color: var(--black);
  font-size: 14px;
  margin-bottom: 2rem;
  max-height: 500px;
}

.dropdown_col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1rem;
  margin: 0;
  gap: .5rem;
}

.dropdown_row {
  display: flex;
    gap: 0.35rem;
    align-items: center;
}

.user_wrap{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1rem;
    margin: 0;
    gap: 0.5rem;
}

.text_wrap{
  display: flex;
    gap: 0.35rem;
    align-items: center;
}

.bold_text {
  font-size: var(--font-sixteen);
  font-weight: 600;
  color: var(--black);
}

.reg_text {
  font-size: var(--font-sixteen);
  font-weight: 400;
  color: var(--black);
}

.dropdown_btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.dropdown_btn button {
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
  width: 200px;
  padding: 10px 0rem;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .app_container {
    display: grid;
    grid-template-columns: 260px 1fr;
  }
}

@media only screen and (min-device-width: 1440px) {
  .mainWrapper {
    height: max-content;
  }
}
